In [1]:
import pandas as pd

In [2]:
notes = {"Maths": 19, "Anglais": 12, "Géo": 15}

In [3]:
Ser = pd.Series(notes)

In [4]:
print(Ser)

Maths      19
Anglais    12
Géo        15
dtype: int64

In [7]:
print(Ser.index)

Index(['Maths', 'Anglais', 'Géo'], dtype='object')

In [8]:
print(Ser.values)

[19 12 15]

In [10]:
print("Meilleure note {}".format(Ser["Maths"]))

Meilleure note 19

In [11]:
"Histoire" in Ser

False

In [13]:
"Maths" in Ser

True

In [14]:
Ser["Géo"]

15

In [15]:
import numpy as np

In [16]:
Ser = pd.Series(np.array([155850, 318808, 220488, 139926]), index=["Angers", "Nantes", "Rennes", "Brest"])

In [17]:
Ser

Angers    155850
Nantes    318808
Rennes    220488
Brest     139926
dtype: int64

In [18]:
Ser = pd.Series(1.5, index=["i1", "i2", "i3", "i4"])

In [19]:
Ser

i1    1.5
i2    1.5
i3    1.5
i4    1.5
dtype: float64

In [20]:
Data = np.array([155850, 318808, 220488, 139926])
Ser = pd.Series(Data, index=["Angers", "Nantes", "Rennes", "Brest"], name="Nombre d'habitants")
Ser

Angers    155850
Nantes    318808
Rennes    220488
Brest     139926
Name: Nombre d'habitants, dtype: int64

In [21]:
Ser2 = Ser.rename("Nb habitants")
print(Ser2)

Angers    155850
Nantes    318808
Rennes    220488
Brest     139926
Name: Nb habitants, dtype: int64

In [23]:
Ser = pd.Series(notes)
Ser["Français"] = 13
print(Ser)

Maths       19
Anglais     12
Géo         15
Français    13
dtype: int64

In [25]:
print(Ser[-2])
print("*********************")
print(Ser[2:])
print("*********************")
print(Ser["Maths":"Géo"])

15
*********************
Géo         15
Français    13
dtype: int64
*********************
Maths      19
Anglais    12
Géo        15
dtype: int64

In [26]:
Pays = pd.Series(["France", "Italie", "Espagne", "Allemagne", "Angleterre"], index=[1, 2, 3, 5, 8])

In [28]:
Pays[2]

'Italie'

In [29]:
print(Pays.loc[2])
print(Pays.iloc[2])

Italie
Espagne

In [30]:
Ser1 = pd.Series(notes)
Ser2 = pd.Series({"Musique": 14})

print(Ser1)
print(Ser2)

Maths      19
Anglais    12
Géo        15
dtype: int64
Musique    14
dtype: int64

In [31]:
pd.concat([Ser1, Ser2])

Maths      19
Anglais    12
Géo        15
Musique    14
dtype: int64

In [32]:
Ser1.drop("Maths")

Anglais    12
Géo        15
dtype: int64

In [33]:
Ser1

Maths      19
Anglais    12
Géo        15
dtype: int64

In [34]:
Ser1 = Ser1.drop("Maths")
Ser1

Anglais    12
Géo        15
dtype: int64