In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [10]:
notes = {"Maths": 19, "Anglais": 12, "Geo":14}
serie = pd.Series(notes)
print(serie)

print(serie.index) # retourne les valeurs
print()
print(serie.values) # retourne les valeurs de la serie
print()
print("Meilleur note {}".format(serie["Maths"]))
print()
"histoire" in serie #pour verifier si histoire est present dans la liste
print()
serie["Geo"] # retourne la valeur de la cle geo

Maths      19
Anglais    12
Geo        14
dtype: int64
Index(['Maths', 'Anglais', 'Geo'], dtype='object')

[19 12 14]

Meilleur note 19

14

In [13]:
Ser = pd.Series(np.array([15000,74896,45783,25586]), index=["Angers","Nantes","Rennes","Brest"])

ser = pd.Series(1.5, index=["11", "12","13","14"])

In [15]:
Data = np.array([15000,74896,45783,25586])
Ser = pd.Series(Data, index=["Angers","Nantes","Rennes","Brest"], name="Nombre d'habitants")
print(Ser)

Angers    15000
Nantes    74896
Rennes    45783
Brest     25586
Name: Nombre d'habitants, dtype: int64

In [24]:
Ser = pd.Series(notes)
Ser["Français"]=13 #ajout un element a la serie
print(Ser)
print("****************************")
print(Ser[-2])
print("****************************")
print(Ser[2:])
print("****************************")
print(Ser["Maths": "Geo"])

Maths       19
Anglais     12
Geo         14
Français    13
dtype: int64
****************************
14
****************************
Geo         14
Français    13
dtype: int64
****************************
Maths      19
Anglais    12
Geo        14
dtype: int64

In [31]:
Pays = pd.Series(["France", "Italie","Espagne","Allemagne","Angleterre"], index=[1,2,3,5,6])
print(Pays)
print("****************************")
Pays[2]
print("****************************")

1        France
2        Italie
3       Espagne
5     Allemagne
6    Angleterre
dtype: object
****************************
****************************

In [32]:
Pays.iloc[2] # acces par l'index

'Espagne'

In [33]:
Pays.loc[2] #acces par les clé

'Italie'

In [34]:
Ser1 = pd.Series(notes)
Ser2 = pd.Series({"Musique": 15})

pd.concat([Ser1,Ser2])

Maths      19
Anglais    12
Geo        14
Musique    15
dtype: int64

In [36]:
Ser1.drop("Geo",inplace=True)
print(Ser1)
Ser1 = Ser1.drop("Maths")

Maths      19
Anglais    12
dtype: int64